extends ../shared/template

block content
  h1 Create New Artist

  form(method='POST', action='/artists', enctype='multipart/form-data')
    input(type='text', name='name', placeholder="Artist Name")
    input(type='file', name='photo')
    button Add Artist
