doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(href='/css/normalize.css', rel='stylesheet')
    link(href='/css/buttons.css', rel='stylesheet')
    link(href='/less/app.css', rel='stylesheet')
  body
    span.spanTemplate
      a(href='/', class='button button-border-action button-pill') Home
    span.spanTemplate
      a(href='/help', class='button button-border-action button-pill') Help
    span.spanTemplate
      a(href='/albums', class='button button-border-action button-pill') Albums
    span.spanTemplate
      a(href='/albums/new', class='button button-border-action button-pill') New Album
    span.spanTemplate
      a(href='/artists', class='button button-border-action button-pill') Artists
    span.spanTemplate
      a(href='/artists/new', class='button button-border-action button-pill') New Artist
    span.spanTemplate
      a(href='/songs', class='button button-border-action button-pill') Songs
    span.spanTemplate
      a(href='/songs/new', class='button button-border-action button-pill') New Songs

    block content

    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/buttons.js')
    script(src='/js/vendor/traceur.js')
    script(src='/js/es5/main.js')
    script(src='/js/es6/compiled/main.js')

    block scripts
