extends ../shared/template

block content
  h1 Albums: Index
  .albumsDiv
    each album in albums
      each artist in artists
        a(href='/albums/#{album.name}')
          img(src='../img/#{artist.name}/#{album.name}/#{album.photo}')
